<div id="main_div">
<div id="status_div">
<%= render :partial => 'chara', :locals => { :chara => @current_chara } %>
</div>

<div id="work_div">
<div id="event_div">
<%= @message %>

</div>
<div id="result_div">
<% @results.each do |r| %>
  <%= r.r_string %><br />
<% end %>
</div>
<div id="command_div">

<p>
<p>
今日：<%= @current_state.c_date %>
（ターンエンド：<%= @current_state.turn_end %>）<br/>
</p>

[ <%= link_to("戻る", :game_play) %> ]
</p>
</div>
</div>
</div>
