<p>ゲームの開始画面です。
中身は現在作成中ですよん。
</p>
<p>
ゲーム内容の説明：<br/>
プレイヤーはマーベリックさんになってバニーを4歳から育成します。
最終目標はヒーローにしてKOHを目指させることです。
バニーは両親殺害事件のトラウマにスイッチが入るとハンサムエスケープします。
記憶いじることも可能ですが使い過ぎると矛盾が起きて精神崩壊します。
</p>
<p>
<%= "育成中キャラクター：" + @current_chara.name if @has_data %>
<%= "（日付：" + @current_state.c_date.to_s + "）" if @has_data %>
<%= "まだデータを作成していません。" unless @has_data %>
</p>

<p>
<%= "このキャラでゲームを開始しますか？ [" if @has_data && ! @is_timeover %>
<%= link_to('継続', :game_play) if @has_data && ! @is_timeover %>
<%= "]" if @has_data && ! @is_timeover %>
<%= "このキャラクターの育成期間は終了しています。" if @is_timeover %>
<%= "それとも" if @has_data && ! @is_timeover %>
<%= "新規にゲームを始めますか？ [" %>
<%= link_to('新規', :game_new) %>
<%= "]" %>
</p>
